* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: beige;
    color: white;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    margin: 15px 0 0 0;
    font-size: 30px;
    color: #f48eb8;
    font-weight: 900;
}

h2 {
    font-size: 20px;
}

.header-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:#a0c565;
    color: white;
    font-weight: bold;
    padding: 20px;
    padding-top: 50px;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    padding: 5px;
    font-size: 20px;
    
}

.section {
    padding: 15px;
    border-radius: 15px;
    background-color: #a0c565;
    max-width: 800px;
}

footer {
    text-align: center;
    padding-top: 30px;
    color: #f48eb8;
    padding-top: 0;
    padding-bottom: 50px;
    font-weight: 600;
}

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#about img {
    height: 150px;
    width: 150px;
}

.section-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 30px;
    gap: 20px;
}

.section h2 {
    display: flex;
    flex-basis: 100%;
    padding: 10px;
}

p {
    text-align: center;
}

.slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;

}

.slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
}

.slide {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-shadow: 1px 1px 8px black;
}
.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
  }
  .slide-arrow:hover,
  .slide-arrow:focus {
    opacity: 1;
  }
  #slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }
  #slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
  }
