* {
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: center;
    background-color: #a0c565;
    color: white;
    font-weight: bold;
}

header, ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding: 5px;
}