* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: beige;
    color: white;
    margin: 0;
}

h1 {
    margin: 15px 0 0 0;
    font-size: 30px;
    color: #f48eb8;
    font-weight: 900;
}

h2 {
    font-size: 20px;
}

.header-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:#a0c565;
    color: white;
    font-weight: bold;
    padding: 20px;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 5px;
    font-size: 20px;
    
}

.section {
    padding: 10px;
    border-radius: 15px;
    background-color: #a0c565;
    max-width: 800px;
}

footer {
    text-align: center;
    padding-top: 30px;
    color: #f48eb8;
}

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#about img {
    height: 150px;
    width: 150px;
}

.section-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 30px;
    gap: 20px;
}

.section h2 {
    display: flex;
    flex-basis: 100%;
}

p {
    text-align: center;
}