* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #f48eb8;
    color: white;
}

h1 {
    margin: 15px;
}


header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #a0c565;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 5px;
    font-size: 20px;
    m
}

.section {
    padding: 10px;
    border-radius: 15px;
    background-color: #a0c565;
}

footer {
    text-align: center;
    padding-top: 30px;
}